# IntelliJ project files
.idea

# Git
.git
.gitignore

#sqlite
app/db.sqlite3

# Docker
.docker

# Python
app/.pytest_cache
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Elastic Beanstalk Files
app/.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
