{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<div class="row">
		<div class="col align-self-start">
			<h3 class="section-title col align-self-start">Popular products</h3>
		</div>
		<div class="col align-self-end d-flex justify-content-end">
			<a href="{% url 'store:store' %}" class="btn btn-outline-primary float-right" style="width: 120px;">See all</a>
		</div>

	</div>
</header><!-- sect-heading -->

	
<div class="row owl-carousel owl-theme">
	{% for product in popular_products %}
	<div class="col mx-auto">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.image.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.name }}</a>
				<div class="row">
					<div class="col">
						<div class="price mt-1">$ {{ product.price }}</div> <!-- price-wrap.// -->
					</div>
					<div class="col d-flex justify-content-end">
						{% csrf_token %}
						{% if user in product.users_wishlist.all %}
						<button class="btn btn-light btn-sm add-to-wishlist added-to-wishlist" data-product="{{ product.id }}"><i class="fa fa-heart"></i></button>
						{% else %}
						<button class="btn btn-light btn-sm add-to-wishlist" data-product="{{ product.id }}"><i class="fa fa-heart"></i></button>
						{% endif %}
					</div>

				</div>
				<div class="rating-star mb-3">
					<span>
						<i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
						<span> {{ product.review.count }} reviews</span>
					</span>
				</div>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

<header class="section-heading">
	<div class="row">
		<div class="col align-self-start">
			<h3 class="section-title col align-self-start">Latest products</h3>
		</div>
		<div class="col align-self-end d-flex justify-content-end">
			<a href="{% url 'store:store' %}" class="btn btn-outline-primary float-right" style="width: 120px;">See all</a>
		</div>

	</div>
</header><!-- sect-heading -->

<div class="row owl-carousel owl-theme">
	{% for product in latest_products %}
	<div class="col mx-auto">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.image.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.name }}</a>
				<div class="row">
					<div class="col">
						<div class="price mt-1">$ {{ product.price }}</div> <!-- price-wrap.// -->
					</div>
					<div class="col d-flex justify-content-end">
						{% csrf_token %}
						{% if user in product.users_wishlist.all %}
						<button class="btn btn-light btn-sm add-to-wishlist added-to-wishlist" data-product="{{ product.id }}"><i class="fa fa-heart"></i></button>
						{% else %}
						<button class="btn btn-light btn-sm add-to-wishlist" data-product="{{ product.id }}"><i class="fa fa-heart"></i></button>
						{% endif %}
					</div>
				</div>
				<div class="rating-star mb-3">
					<span>
						<i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
						<span> {{ product.review.count }} reviews</span>
					</span>
				</div>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


</body>
</html>

{% endblock %}